section.banner-component {
	position: relative;
	height: 100vh;

	@include media-breakpoint-down(sm) {
		height: auto;
		padding: 100px 0;
	}

	.banner-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-image: none!important;

		img {
			@include img-cover(center);
		}
	}

	.component-container {
		width: calc(2280px + 220px);
		max-width: 100%;
		margin: 0 auto;
		padding: 0 110px;
		height: 100%;

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			height: 100%;
			@include flexbox;
			@include align-items(center);

			.banner-heading-form {
				width: 100%;
				max-width: 1720px;
				margin: 0 auto;

				.text {
					text-align: center;
					margin-bottom: 75px;

					@include media-breakpoint-down(xxxl) {
						margin-bottom: 50px;
					}

					h1 {
						@extend %h1;
					}

					p {
						@include rem(font-size, 60px);
						color: rgba($c__white, 0.5);
						font-weight: normal;
						line-height: 90px;

						@include media-breakpoint-down(xxxl) {
							@include rem(font-size, 50px);
							line-height: 80px;
						}

						@include media-breakpoint-down(xxl) {
							@include rem(font-size, 40px);
							line-height: 65px
						}

						@include media-breakpoint-down(lg) {
							@include rem(font-size, 30px);
							line-height: 50px
						}

						@include media-breakpoint-down(sm) {
							@include rem(font-size, 25px);
							line-height: 40px
						}

					}
				}

				.wrap-form {
					form {
						.sing-up-form {
							@include flexbox;
							justify-content: center;

							@include media-breakpoint-down(sm) {
								@include flex-wrap(wrap);
							}

							.input-field {
								margin: 0 12.5px;

								@include media-breakpoint-down(sm) {
									min-width: initial !important;
									width: 100%;
									max-width: 380px;
								}

								&.email {
									min-width: 740px;
									@include media-breakpoint-down(xl) {
										min-width: 540px;
									}

									@include media-breakpoint-down(sm) {
										margin-bottom: 30px;
									}

								}
							}
						}

						.mc4wp-response {
							margin-top: 10px;
							p {
								@include rem(font-size, 26px);
								color: $c__white;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
}

section.image-text-component {
	.component-container {
		width: calc(2280px + 220px);
		padding: 0 115px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding-top: 110px;
			padding-bottom: 110px;

			@include media-breakpoint-down(md) {
				padding: 40px 0;
			}

			.component-heading {
				h2 {
					@extend %h2;
				}

				p {
					@extend %mm-text;
					font-weight: 500;
				}
			}

			.image-text-wrapper {
				@include flexbox;
				@include align-items(center);

				@include media-breakpoint-down(md) {
					@include flex-wrap(wrap);
				}

				.image {
					margin-left: -25vw;

					@include media-breakpoint-down(xxl) {
						margin-left: -30vw;
					}

					@include media-breakpoint-down(xl) {
						margin-left: -40vw;
					}

					@include media-breakpoint-down(md) {
						display: block;
						width: 100%;
						margin: 0 0 50px 0;
					}
				}

				.desc {
					width: 80%;
					padding-left: 60px;

					@include media-breakpoint-down(xxl) {
						width: 90%;
					}

					@include media-breakpoint-down(md) {
						width: 100%;
						padding: 0;
					}

					h3 {
						@extend %h1;
						color: $c__primary;
					}

					.text {
						p {
							@extend %mm-text;
							margin-bottom: 5px;

							strong {
								@extend %mm-text--large;
								font-weight: 500;
								display: block;
							}
						}

						ul {
							margin: 0 0 50px 0;

							li {
								list-style-type: none;
								position: relative;
								@extend %mm-text;
								@include rem(font-size, 37px);
								margin-bottom: 35px;

								@include media-breakpoint-down(xl) {
									@include rem(font-size, 29px);
								}

								@include media-breakpoint-down(lg) {
									@include rem(font-size, 25px);
								}

								@include media-breakpoint-down(sm) {
									@include rem(font-size, 20px);
									margin-bottom: 20px;
								}

								&:after {
									position: absolute;
									content: "";
									width: 10px;
									height: 10px;
									background-color: $c__primary;
									border-radius: 50%;
									left: -30px;
									top: 20px;
								}
							}
						}
					}

					.mm-button {
						width: 40%;
						min-width: initial;
						max-width: 380px;

						@include media-breakpoint-down(sm) {
							display: block;
							width: 100%;
							max-width: 380px;
							margin: 0 auto;
						}

						&.primary {
							margin-right: 30px;

							@include media-breakpoint-down(lg) {
								margin-right: 20px;
							}

							@include media-breakpoint-down(sm) {
								margin: 0 auto 20px auto;
							}
						}
					}
				}
			}
		}
	}
}

section.slider-component {
	.component-container {
		width: calc(2240px + 260px);
		padding: 0 130px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding: 80px 0;

			.component-heading {
				margin-bottom: 90px;

				@include media-breakpoint-down(sm) {
					margin-bottom: 40px;
				}

				h2 {
					@extend %h2;
				}

				p {
					@extend %mm-text;
					font-weight: 500;
					margin: 0;
				}
			}

			.wrap-slider-items {
				margin: 0 -45px;

				@include media-breakpoint-down(xl) {
					margin: 0 -25px;
				}

				@include media-breakpoint-down(md) {
					margin: 0 -15px;
				}

				.slide {
					width: 50%;
					padding: 0 45px;

					@include media-breakpoint-down(xl) {
						padding: 0 25px;
					}

					@include media-breakpoint-down(md) {
						padding: 0 15px;
					}

					.inner-slide {
						position: relative;
						display: block;

						.image {
							border-radius: 22px;
							overflow: hidden;

							@include media-breakpoint-down(sm) {
								border-radius: 15px;
							}

							img {
								@include img-cover(center);
							}
						}

						.text {
							position: absolute;
							left: 0;
							bottom: 0;
							right: 0;
							top: 0;
							z-index: 1;
							@include flexbox;
							justify-content: center;
							@include align-items(center);
							padding: 0 15px;

							span {
								@include rem(font-size, 75px);
								text-transform: uppercase;
								font-family: $t__font-main;
								color: $c__white;
								display: block;

								@include media-breakpoint-down(xl) {
									@include rem(font-size, 45px);
								}

								@include media-breakpoint-down(md) {
									@include rem(font-size, 36px);
								}

								@include media-breakpoint-down(sm) {
									@include rem(font-size, 18px);
								}
							}
						}
					}
				}

				ul {
					&.slick-dots {
						padding: 0;
						@include flexbox;
						@include align-items(center);
						justify-content: center;
						margin: 75px 0 0 0;

						@include media-breakpoint-down(sm) {
							margin: 40px 0 0 0;
						}

						li {
							list-style-type: none;
							width: 14px;
							height: 14px;
							border-radius: 50%;
							border: none;
							outline: none;
							background-color: rgba($c__primary, 0.3);
							text-indent: -99999999px;
							cursor: pointer;
							margin: 0 45px;

							@include media-breakpoint-down(sm) {
								margin: 0 10px;
							}

							&.slick-active {
								background-color: rgba($c__primary, 1);
								width: 21px;
								height: 21px;
							}
						}
					}
				}
			}
		}
	}
}

section.accordion-tabs-slider-component {
	.component-container {
		width: calc(2240px + 260px);
		padding: 0 130px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding:  100px 0;

			@include media-breakpoint-down(sm) {
				padding: 40px 0;
			}

			.component-heading {
				margin-bottom: 110px;

				@include media-breakpoint-down(sm) {
					margin-bottom: 60px;
				}

				h2 {
					@extend %h2;
				}

				p {
					@extend %mm-text;
					font-weight: 500;
					margin: 0;
				}
			}

			.wrap-accordion-tabs-slider {
				.tab {
					border-radius: 22px;
					background-color: $c__white;
					margin-bottom: 40px;
					-webkit-box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.07);
					box-shadow: 0px 0px 29px 13px rgba(0, 0, 0, 0.07);

					@include media-breakpoint-down(sm) {
						margin-bottom: 15px;
					}

					.tab-heading {
						position: relative;
						cursor: pointer;
						padding: 65px 75px 65px 65px;

						@include media-breakpoint-down(xxxl) {
							padding: 40px 30px 40px 30px;
						}

						@include media-breakpoint-down(lg) {
							padding: 35px 45px 35px 35px;
						}

						@include media-breakpoint-down(sm) {
							padding: 15px 40px 15px 15px;
						}

						h5 {
							@include rem(font-size, 37px);
							line-height: 44px;
							color: $c__black;
							font-family: $t__font-sec;
							margin-bottom: 0;

							@include media-breakpoint-down(lg) {
								@include rem(font-size, 30px);
								line-height: 40px;
							}

							@include media-breakpoint-down(md) {
								@include rem(font-size, 26px);
								line-height: 32px;
							}

							@include media-breakpoint-down(sm) {
								@include rem(font-size, 20px);
								line-height: 32px;
							}
						}

						.tab-heading-icon {
							width: 32px;
							position: absolute;
							right: 45px;
							top: 50%;
							@include vertical-center();

							@include media-breakpoint-down(sm) {
								width: 20px;
								right: 15px;
							}

							span {
								display: block;
								background-color: $c__primary;
								border-radius: 5px;
								height: 8px;

								@include media-breakpoint-down(sm) {
									height: 5px;
								}

								&:first-of-type {
									margin-top: -4px;
								}

								&:last-of-type {
									@include rotate(90deg);
									margin-top: -8px;

									@include media-breakpoint-down(sm) {
										margin-top: -5px;
									}
								}
							}
						}
					}

					.tab-text {
						padding: 0 20px 65px 65px;

						@include media-breakpoint-down(xxxl) {
							padding: 40px 30px 40px 30px;
						}

						@include media-breakpoint-down(lg) {
							padding: 0 45px 35px 35px;
						}

						@include media-breakpoint-down(sm) {
							padding:  0 15px 15px 15px;
						}

						p {
							@include rem(font-size, 33px);
							line-height: 55px;
							color: $c__grey;
							font-family: $t__font-sec;
							margin-bottom: 0;


							@include media-breakpoint-down(lg) {
								@include rem(font-size, 28px);
								line-height: 45px;
							}

							@include media-breakpoint-down(md) {
								@include rem(font-size, 24px);
								line-height: 38px;
							}

							@include media-breakpoint-down(sm) {
								@include rem(font-size, 16px);
								line-height: 26px;
							}
						}
					}

					&.active {
						.tab-heading {
							.tab-heading-icon {
								span {
									&:last-of-type {
										opacity: 0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


section.textarea-field-component {
	.component-container {
		width: calc(2240px + 260px);
		padding: 0 130px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding: 110px 0 130px 0;


			@include media-breakpoint-down(sm) {
				padding: 50px 0;
			}

			.component-heading {
				margin-bottom: 70px;

				@include media-breakpoint-down(sm) {
					margin-bottom: 30px
				}

				h4 {
					@include rem(font-size, 70px);
					color: $c__black;

					@include media-breakpoint-down(xxxl) {
						@include rem(font-size, 55px);
					}

					@include media-breakpoint-down(lg) {
						@include rem(font-size, 50px);
					}

					@include media-breakpoint-down(md) {
						@include rem(font-size, 40px);
					}

					@include media-breakpoint-down(sm) {
						padding: 23px 25px;
						@include rem(font-size, 30px);
					}
				}
			}

			.wrap-feedback-form {
				max-width: 1430px;
				width: 100%;
				margin: 0 auto;
				.nf-form-cont {
					form {
						.nf-form-fields-required {
							font-size: 20px;
							display: none;
						}

						.nf-error-msg {
							font-size: 30px;
							padding-left: 20px;

							@include media-breakpoint-down(sm) {
								font-size: 20px;
								padding-left: 0;
							}
						}

						.nf-form-content {
							max-width: initial;
							padding: 0;
							.nf-field {
								text-align: right;

								@include media-breakpoint-down(sm) {
									text-align: center;
								}

								input[type=button] {
									font-weight: normal;
									width: 100%;
									border: none;
									font-size: 34px;
									font-size: 2.125rem;
									letter-spacing: -2.74px;
									padding: 40px 65px 35px 65px;
									color: $c__white;
									background-color:$c__primary;
									border-radius: 67px;
									height: auto;
									max-width: 380px;

									@include media-breakpoint-down(md) {
										padding: 30px;
									}

									@include media-breakpoint-down(sm) {
										padding: 20px;
										@include rem(font-size, 20px);
									}

								}
							}
						}

						.nf-field-container {
							textarea {
								background-color: rgba($c__primary, 0.11);
								color: rgba($c__primary, 0.5);
								height: 450px;
								border-radius: 67px;
								@include rem(font-size, 34px);
								letter-spacing: -2.74px;
								padding: 40px 65px 35px 65px;
								border: none;

								@include media-breakpoint-down(md) {
									height: 250px;
								}

								@include media-breakpoint-down(sm) {
									border-radius: 15px;
									padding: 20px;
									font-size: 20px;
								}
							}
						}
					}
				}
			}
		}
	}
}


section.image-text-posts-component {
	.component-container {
		width: calc(2250px + 250px);
		padding: 0 125px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxxl) {
			padding: 0 80px;
		}

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding: 80px 0;

			@include media-breakpoint-down(sm) {
				padding: 40px 0;
			}

			.wrap-posts {
				.item {
					margin-bottom: 205px;

					@include media-breakpoint-down(xxxl) {
						margin-bottom: 120px;
					}

					@include media-breakpoint-down(lg) {
						margin-bottom: 80px;
					}

					@include media-breakpoint-down(sm) {
						margin-bottom: 40px;
					}

					.inner-item {
						@include flexbox;
						@include align-items(center);
						margin: 0 -80px;

						@include media-breakpoint-down(xxxl) {
							margin: 0 -60px;
						}

						@include media-breakpoint-down(xl) {
							margin: 0 -40px;
						}

						@include media-breakpoint-down(lg) {
							margin: 0 -20px;
						}

						@include media-breakpoint-down(sm) {
							@include flex-wrap(wrap);
							margin: 0;
						}

						.image {
							width: 40%;
							overflow: hidden;
							border-radius: 50%;
							padding: 0 80px;

							@include media-breakpoint-down(xxxl) {
								padding: 0 60px;
							}

							@include media-breakpoint-down(xl) {
								padding: 0 40px;
							}

							@include media-breakpoint-down(lg) {
								padding: 0 20px;
							}

							@include media-breakpoint-down(sm) {
								width: 100%;
								padding: 0;
								margin-bottom: 30px;
								order: 1;
							}

							img {
								@include img-cover(center);
							}
						}

						.desc {
							width: 60%;
							padding: 0 80px;

							@include media-breakpoint-down(xxxl) {
								padding: 0 60px;
							}

							@include media-breakpoint-down(xl) {
								padding: 0 40px;
							}

							@include media-breakpoint-down(lg) {
								padding: 0 20px;
							}

							@include media-breakpoint-down(sm) {
								width: 100%;
								padding: 0;
								order: 2;
							}

							.text {
								h3 {
									@extend %h3;
								}

								p {
									margin-bottom: 30px;
								}
							}

							.mm-button {
								width: 50%;
								max-width: 380px;
								min-width: initial;

								@include media-breakpoint-down(xxxl) {
									max-width: 300px;
								}

								@include media-breakpoint-down(xl) {
									max-width: 250px;
								}

								@include media-breakpoint-down(lg) {
									max-width: 180px;
								}

								@include media-breakpoint-down(sm) {
									width: 100%;
									display: block;
									max-width: 380px;
									margin: 0 auto 20px auto !important;
									padding: 20px;
								}

								&.primary {
									margin-right: 20px;
								}
							}
						}
					}

					&:nth-child(even) {
						.inner-item {
							.image {
								order: 2;
							}

							.text {
								order: 1;
							}
						}
					}

					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}


section.single-post-component {
	.component-container {
		width: calc(2320px + 180px);
		padding: 0 90px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxxl) {
			padding: 0 70px;
		}

		@include media-breakpoint-down(xxl) {
			padding: 0 50px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 30px;
		}

		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding: 80px 0;

			@include media-breakpoint-down(sm) {
				padding: 40px 0;
			}

			.single-post-content {
				.image-title {
					overflow: hidden;
					position: relative;

					@include media-breakpoint-down(sm) {
						@include flexbox;
						@include flex-wrap(wrap);
					}

					.image {
						max-height: 1300px;
						overflow: hidden;

						@include media-breakpoint-down(xxxl) {
							max-height: 650px;
						}

						@include media-breakpoint-down(sm) {
							margin-bottom: 20px;
							order: 2;
						}


						img {
							@include img-cover(center);
						}
					}

					.post-title {
						width: 50%;
						position: absolute;
						left: 0;
						padding-left: 175px;
						bottom: 125px;

						@include media-breakpoint-down(xxxl) {
							padding-left: 75px;
							bottom: 85px;
						}

						@include media-breakpoint-down(xl) {
							padding-left: 45px;
							bottom: 50px;
						}

						@include media-breakpoint-down(md) {
							padding: 0 20px;
							width: 100%;
							right: 0;
							bottom: 15px;
						}

						@include media-breakpoint-down(sm) {
							position: initial;
							padding: 0;
							order: 1;
							margin-bottom: 30px;
						}

						h1 {
							@include rem (font-size, 70px);
							line-height: normal;
							margin-bottom: 50px;

							@include media-breakpoint-down(xxxl) {
								@include rem (font-size, 55px);
								margin-bottom: 35px;
							}

							@include media-breakpoint-down(xl) {
								@include rem (font-size, 35px);
								margin-bottom: 25px;
							}

							@include media-breakpoint-down(md) {
								@include rem (font-size, 28px);
								margin-bottom: 15px;
							}

							@include media-breakpoint-down(sm) {
								@include rem (font-size, 24px);
								margin-bottom: 15px;
								color: $c__black;
							}
						}

						.post-info {
							@include flexbox;
							justify-content: space-between;
							@include align-items(center);

							.author {
								@include flexbox;
								@include align-items(center);

								.author-img {
									width: 70px;
									height: 70px;
									overflow: hidden;
									border-radius: 50%;
									margin-right: 25px;
									background-color: $c__white;

									@include media-breakpoint-down(md) {
										width: 40px;
										height: 40px;
									}

									img {
										@include img-cover(center);
									}
								}

								.author-name {
									@include rem(font-size, 31px);
									line-height: normal;
									display: inline-block;
									color: $c__white;

									@include media-breakpoint-down(xl) {
										@include rem(font-size, 24px);
									}

									@include media-breakpoint-down(md) {
										@include rem(font-size, 20px);

									}

									@include media-breakpoint-down(sm) {
										color: $c__light-black;
									}
								}
							}

							.publish-date {
								span {
									@include rem(font-size, 31px);
									line-height: normal;
									display: inline-block;
									color: $c__white;

									@include media-breakpoint-down(xl) {
										@include rem(font-size, 24px);
									}

									@include media-breakpoint-down(md) {
										@include rem(font-size, 20px);
									}

									@include media-breakpoint-down(sm) {
										color: $c__light-black;
									}
								}
							}
						}
					}
				}

				.text {
					padding: 130px 175px;

					@include media-breakpoint-down(xxxl) {
						padding: 90px 75px
					}

					@include media-breakpoint-down(xl) {
						padding: 60px 45px
					}

					@include media-breakpoint-down(md) {
						padding: 30px 20px;
					}

					@include media-breakpoint-down(sm) {
						padding: 30px 0;
					}

					p {
						@include rem (font-size, 39px);
						line-height: normal;
						margin-bottom: 30px;

						@include media-breakpoint-down(xl) {
							@include rem(font-size, 28px);
						}

						@include media-breakpoint-down(md) {
							@include rem(font-size, 24px);
						}

						@include media-breakpoint-down(sm) {
							@include rem (font-size, 20px);
							margin-bottom: 15px;
						}

						&:last-of-type {
							margin-bottom: 0;
						}

						strong {
							@include rem(font-size, 47px);
							line-height: normal;
							color: $c__light-black;
						}
					}
				}
			}
		}
	}
}


.single-text_component.error404 {
	height: 800px;

	.container {
		height: 100%;
		@include flexbox;
		justify-content: center;
		@include align-items(center);

		.row {
			text-align: center;
		}
	}
}
