.body-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

header.site-header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: $c__secondary;
	@include transition(background-color, 0.3s);

	.component-container {
		width: calc(2280px + 220px);
		padding: 0 115px;
		margin: 0 auto;
		max-width: 100%;

		@include media-breakpoint-down(xxl) {
			padding: 0 60px;
		}

		@include media-breakpoint-down(md) {
			padding: 0 40px;
		}


		@include media-breakpoint-down(sm) {
			padding: 0 15px;
		}

		.inner-component {
			padding: 20px 0;

			.wrap-header-elements {
				@include flexbox;
				@include align-items(center);

				.site-logo {
					width: 105px;

					@include media-breakpoint-down(md) {
						width: 90px;
					}

					@include media-breakpoint-down(sm) {
						width: 50px;
					}

					a {
						&.logo {
							display: block;

							img {
								width: 100%;
							}
						}
					}
				}

				.site-navigation {
					width: calc(100% - 105px);

					@include media-breakpoint-down(md) {
						width: calc(100% - 90px);
					}

					@include media-breakpoint-down(sm) {
						background-color: $c__secondary;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						height: 100vh;
						width: 100%;
						@include flexbox;
						@include align-items(center);
						justify-content: center;
						padding: 0 15px;
						opacity: 0;
						visibility: hidden;
						@include transition(opacity, .3s);
					}

					nav {
						@include flexbox;
						justify-content: flex-end;
						@include align-items(center);

						@include media-breakpoint-down(sm) {
							@include flex-wrap(wrap);
							justify-content: center;
						}

						ul {
							@include flexbox;
							justify-content: flex-end;
							@include align-items(center);
							margin: 0;

							@include media-breakpoint-down(sm) {
								@include flex-wrap(wrap);
								width: 100%;
								justify-content: center;
								padding: 0;
								margin-bottom: 50px;
							}

							li {
								list-style-type: none;

								@include media-breakpoint-down(sm) {
									width: 100%;
									text-align: center;
								}

								&.current-menu-item,
								&.current_page_item,
								&:hover {
									a {
										color: rgba($c__white, 1.0);
									}
								}

								a {
									display: block;
									@extend %mm-link--menu;
								}

								&.highlight {
									a {
										@extend %mm-button;
										background-color: $c__primary;
										padding: 25px;
										margin-left: 55px;
										border-radius: 43px;

										@include media-breakpoint-down(xxxl) {
											@include rem(font-size, 33px);
										}

										@include media-breakpoint-down(xxl) {
											padding: 20px;
											@include rem(font-size, 22px);
											min-width: 240px;
											margin-left: 30px;
										}

										@include media-breakpoint-down(lg) {
											min-width: 160px;
											margin-left: 20px;
										}

										@include media-breakpoint-down(md) {
											@include rem(font-size, 20px);
											min-width: 110px;
											padding: 15px;
											margin-left: 15px;
										}

										@include media-breakpoint-down(sm) {
											@include rem(font-size, 20px);
											min-width: 110px;
											padding: 15px;
											margin-left: 0;
											width: 100%;
											max-width: 360px;
											min-width: initial;
										}
									}
								}
							}
						}
					}
				}

				.hamburger-menu-btn {
					display: none;
					width: 40px;
					position: absolute;
					right: 15px;
					top: 35px;
					z-index: 2;

					@include media-breakpoint-down(sm) {
						display: block;
					}

					span {
						background-color: $c__white;
						height: 4px;
						margin-bottom: 5px;
						display: block;
						@include transition(rotate, 0.2s);
					}
				}
			}
		}
	}
}
