// Colors

// Monochrome:
$c__black: #000000;
$c__light-black: #0f0c0a;
$c__white: #ffffff;
$c__grey: #b7b7b7;
$c__light-grey: #f3f3f3;
$c__dark-grey: #828282;
$c__dark-red: #a00;

// Main colors:
$c__primary: #2B6821;
$c__secondary: #52B544;


// Color array
$colors: (
	'primary' $c__primary,
	'secondary' $c__secondary,
	'black' $c__black,
	'white' $c__white,
	'light-black' $c__light-black,
);


// RGBA greys for box shadows etc.
$c__warm-grey-25: rgba(112, 112, 112, 0.25);
$c__warm-grey-60: rgba(147, 147, 147, 0.6);
