// Typography

$t__font-main: 'GT Walsheim Pro';
$t__font-sec: 'Times New Roman', sans-serif;

$t__line-height--body: 1.5;

$t__large: 24px; // 20px
$t__regular: 20px; // 16px
$t__small: 16px; // 15px
