/*! Buttons  */


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.mm-button,
%mm-button {
	@extend %mm-label;
	border-radius: 70px;
	text-decoration: none;
	padding: 11px 11px;
	display: inline-block;
	min-width: 354px;
	font-weight: 400;
	text-align: center;
	letter-spacing: -2.74px;

	@include transition(all 0.3s);


	&.primary {
		background-color: $c__primary;
		color: $c__white;
	}

	&.secondary {
		background-color: rgba($c__black, 0.11);
		color: $c__black;
	}

	@include media-breakpoint-down(xl) {
		min-width: 255px;
	}
}

