/*! Buttons  */


button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.mm-button,
%mm-button {
	@extend %mm-label;
	border-radius: 70px;
	text-decoration: none;
	padding: 33px 15px;
	display: inline-block;
	min-width: 354px;
	font-weight: 400;
	text-align: center;
	@include transition(all 0.3s);



	&.primary {
		background-color: $c__primary;
		color: $c__white;
	}

	&.secondary {
		background-color: $c__grey-sec;
		color: $c__black;
	}

	&.gold-btn {
		background-color: $c__gold-color;
		color: $c__white;
	}

	&:hover {
		border-radius: 0 !important;
	}

	@include media-breakpoint-down(xxxl) {
		padding: 25px 15px;
		@include rem (font-size, 33px)
	}

	@include media-breakpoint-down(xl) {
		padding: 20px 15px;
		@include rem (font-size, 28px)
	}
}

