textarea,
input:not([type=checkbox]):not([type=radio]):not([type=submit]) {
	font-weight: normal;
	width: 100%;
	border: none;
	@include rem(font-size, 34px);
	letter-spacing: -2.74px;
	padding: 40px 65px 35px 65px;
	color: rgba($c__light-black, 0.5);
	background-color: rgba($c__white, 0.27);
	border-radius: 67px;

	@include media-breakpoint-down(xxxl) {
		padding: 25px 30px;
		@include rem(font-size, 30px);
	}

	@include media-breakpoint-down(md) {
		padding: 20px 25px;
	}

	@include media-breakpoint-down(sm) {
		@include rem(font-size, 22px);
	}

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	&:-ms-input-placeholder { /* IE 10+ */
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

	&:-moz-placeholder { /* Firefox 18- */
		color: inherit;
		font-weight: inherit;
		font-size: inherit;
	}

    &:focus {
		outline: 0;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: transparent;
			font-size: inherit;
        }

        &::-moz-placeholder { /* Firefox 19+ */
			color: transparent;
			font-size: inherit;
        }

        &:-ms-input-placeholder { /* IE 10+ */
			color: transparent;
			font-size: inherit;
        }

        &:-moz-placeholder { /* Firefox 18- */
			color: transparent;
			font-size: inherit;
        }
    }
}

input[type=submit] {
	outline: 0;
	border: 0;
	font-family: $t__font-main;
	@include rem(font-size, 37px);
	padding: 40px 30px 33px 30px;
	cursor: pointer;
	width: 100%;

	@include media-breakpoint-down(xxxl) {
		padding: 25px 30px;
		@include rem(font-size, 30px);
	}

	@include media-breakpoint-down(md) {
		padding: 20px 25px;
		@include rem(font-size, 28px);
		min-width: 130px;
	}

	@include media-breakpoint-down(md) {
		padding: 20px 25px;
		@include rem(font-size, 28px);
		min-width: 130px;
	}

	@include media-breakpoint-down(sm) {
		@include rem(font-size, 22px);
		min-width: initial;
		@include rem(font-size, 22px);
		width: 100%;
		//max-width: 360px;
		padding: 20px;
	}

	&:hover {
		border-radius: 0;
	}

}

input[type=radio],
input[type=checkbox] {
	height: 21px;
	width: 21px;
	border: solid 1px $c__grey;
	background-color: transparent;
	@include appearance(none);
	cursor: pointer;

	@include media-breakpoint-up(md) {
		height: 41px;
		width: 41px;
		border: solid 2px $c__grey;
	}

    &:focus {
        outline: none;
    }

    &+ label{
        cursor: pointer;
    }
}

input[type=checkbox] {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 80%;

	@include media-breakpoint-up(md) {
		background-size: auto;
	}

    &:checked {
		outline: none;
		background-image: url('assets/images/checkbox-checked-icon.svg');
    }
}

input[type=radio] {
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;

	@include media-breakpoint-up(md) {
		height: 30px;
		width: 30px;
		background-size: auto;
	}

    &:checked {
		outline: none;
		background-image: url('assets/images/radio-checked-icon.svg');
    }
}
